<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="springEssential">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/resource"/>
        <property name="context-root" value="springEssential"/>
        <property name="java-output-path" value="/springEssential/build/classes"/>
    </wb-module>
</project-modules>
